<!DOCTYPE html>
<html lang="es">
<head>
  <title>Casa Raquel</title>
  <script src="/socket.io/socket.io.js"></script> 
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="checkout_nuevo/css/styles.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600;700&display=swap" rel="stylesheet">
  <meta name="keywords" content="HTML, CSS, JavaScript">
  <meta name="description" content="Free Web tutorials">
  <meta name="author" content="Casa Raquel">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/x-icon" href="/img/favicon.ico">
</head>
<body>
  <div class="contenedor-header">
        <header>
        <a href="https://raqueldigital.herokuapp.com/"><img class="logo-header" src="checkout_nuevo/img/logo.svg" alt="Casa Raquel" /></a>
        </header>
  </div>
  <div class="contenedor-checkout">

    <h1>Completá los datos para finalizar el pedido</h1>

    <main>
		<form class="formAction" action="" method="post">
		 
        <div class="card-checkout">
				<h2>Datos personales</h2>
				<label for="nombre-apellido">Nombre y apellido</label>
				<!-- Le agregué la clase "input-error" a ese input. Por defecto no debe aparecer, es una clase que se suma cuando queda vacío -->
				<input type="text" id="nombre-apellido" placeholder="Escribí tu nombre completo" autofocus="autofocus" />
				<!-- Se debe ocultar este texto con display: none; para que no se vea cuando está todo ok -->
				<p id="nombre-apellidoError" style="display: none;" class="texto-error">Este campo no puede quedar vacío.</p>
		</div>

        <div id="opcionInterior" class="card-checkout">
				<h2>Recepción de la compra</h2>
				<!-- Se debe ocultar esta alerta con display: none; para que no se vea cuando está todo ok -->
				<div id="recepCompraError" class="alerta-error" style="display: none;">
					<img src="checkout_nuevo/img/cruz-error.svg" alt="Error" />
					<p>Por favor, elegí una de las opciones.</p>
				</div>
				<div class="checkout-radiobuttons">
					<input type="radio" id="retiro" name="recepcion_compra" value="Retiro en el local">
					<label for="retiro">Retiro en el local - <span>Lavalle 2665, Capital Federal</span></label>
				</div>
				<div class="checkout-radiobuttons">
					<input type="radio" id="envio" name="recepcion_compra" value="Envío a domicilio">
					<label for="envio">Envío</label>
				</div>
                <div class="datos-envio" style="display: none;">
					<div id="provincia" class="combo-select">
						<label for="select-provincia">Provincia</label>
						<!-- Le agregué la clase "input-error" al desplegable. Por defecto no debe aparecer, es una clase que se suma cuando el usuario no eligió ninguna opción -->
						<div class="fake-select" tabindex="0" id="select-provincia" role="combobox" aria-haspopup="listbox" aria-expanded="false">
						  <span id="provText" class="fake-select_placeholder">Seleccioná la provincia</span>
						  <ul id="ulProvincia" class="fake-select_options" role="listbox">
						    
						  </ul>
						</div>
						<!-- Se debe ocultar este texto con display: none; para que no se vea cuando está todo ok -->
						<p id="select-provinciaError" class="texto-error" style="display: none;">Por favor, elegí una opción para continuar.</p>
					</div>
					<div id="localidad" class="combo-select" style="display: none;">
						<label for="select-localidad">Localidad</label>
						<!-- Le agregué la clase "input-error" al desplegable. Por defecto no debe aparecer, es una clase que se suma cuando el usuario no eligió ninguna opción -->
						<div id="select-localidad" class="fake-select" tabindex="0" id="select-localidad" role="combobox" aria-haspopup="listbox" aria-expanded="false">
						  <span id="locText" class="fake-select_placeholder" data-placeholder="Seleccioná la localidad">Seleccioná la localidad</span>
						  <ul id="ulLocalidad" class="fake-select_options" role="listbox">
						    
						  </ul>
						</div>
						<!-- Se debe ocultar este texto con display: none; para que no se vea cuando está todo ok -->
						<p id="select-localidadError" class="texto-error" style="display: none;">Por favor, elegí una opción para continuar.</p>
					</div>
					<div id="checkout-radiobuttons-opciones-envio" class="checkout-radiobuttons" style="display: none;">
						<h3>Seleccione el tipo de envío</h3>
						<div id="opsEnviosError" class="alerta-error" style="display: none;" style="margin-top: 10rem;">
							<img src="checkout_nuevo/img/cruz-error.svg" alt="Error" />
							<p>Por favor, elegí una de las opciones.</p>
						</div>
						<input type="radio" id="correo-argentino" name="tipo-de-envio" value="Por Correo Argentino">
						<label id="correo_argentino_costos" for="correo-argentino">Por Correo Argentino - Precio: $ </label>
						<div class="checkout-radiobuttons">
						<input type="radio" id="expreso" name="tipo-de-envio" value="Por Expreso">
						<label id="valor_expreso" for="expreso">Por Expreso - Precio: $500 <span>(Costo del flete de envío a la terminal)</span></label>
					    </div>
				    </div>
				</div>
                <div class="datos-correo-argentino" style="display: none;">
					<hr class="linea-separadora">
					

					<!-- Correo argentino -->					
					<p class="texto-campos-obligatorios">Los campos marcados con asterisco (*) son obligatorios.</p>
				<div class="datos-envio">
						<div class="combo-select">
							<label for="correo-direccion">Dirección*</label>
							<!-- Le agregué la clase "input-error" a ese input. Por defecto no debe aparecer, es una clase que se suma cuando queda vacío -->
							<input type="text" id="correo-direccion" placeholder="Ingresá la calle" autofocus="autofocus"  />
							<!-- Se debe ocultar este texto con display: none; para que no se vea cuando está todo ok -->
							<p id="correo-direccionError" class="texto-error" style="display: none;">Por favor ingresá una dirección para continuar.</p>
						</div>
						<div class="combo-select">
							<label for="correo-altura">Altura*</label>
							<!-- Le agregué la clase "input-error" a ese input. Por defecto no debe aparecer, es una clase que se suma cuando queda vacío -->
							<input type="text" id="correo-altura" placeholder="Ingresá la altura"  />
							<!-- Se debe ocultar este texto con display: none; para que no se vea cuando está todo ok -->
							<p id="correo-alturaError" class="texto-error" style="display: none;">Por favor ingresá la altura de la calle para continuar</p>
						</div>
						<div class="combo-select">
							<label for="correo-piso-dpto">Piso / Dpto</label>
							<!-- Le agregué la clase "input-error" a ese input. Por defecto no debe aparecer, es una clase que se suma cuando queda vacío -->
							<input type="text" id="correo-piso-dpto" placeholder="Ingresá el piso y el dpto"  />
							<!-- Se debe ocultar este texto con display: none; para que no se vea cuando está todo ok -->
							<p class="texto-error" style="display: none;">Este campo no puede quedar vacío.</p>
						</div>
						<div class="combo-select">
							<label for="correo-cod-postal">Código postal*</label>
							<!-- Le agregué la clase "input-error" a ese input. Por defecto no debe aparecer, es una clase que se suma cuando queda vacío -->
							<input type="text" id="correo-cod-postal" placeholder="Ingresá el código postal"  />
							<!-- Se debe ocultar este texto con display: none; para que no se vea cuando está todo ok -->
							<p id="correo-cod-postalError" class="texto-error" style="display: none;">Este campo no puede quedar vacío.</p>
						</div>
						<div class="combo-select">
							<label for="correo-dni">DNI*</label>
							<!-- Le agregué la clase "input-error" a ese input. Por defecto no debe aparecer, es una clase que se suma cuando queda vacío -->
							<input type="text" id="correo-dni" placeholder="Ingresá el documento"  />
							<!-- Se debe ocultar este texto con display: none; para que no se vea cuando está todo ok -->
							<p id="correo-dniError" class="texto-error" style="display: none;">Por favor ingresá el DNI para continuar</p>
						</div>
					</div>
				<!-- FIN Correo argentino -->
				</div>
				<!-- Expreso -->
                <div class="datos-expreso" style="display: none;">
                        <div class="alerta-informativa" style="margin-top: 10rem;">
                            <img src="checkout_nuevo/img/icono-informativo.svg" alt="Error" />
                            <p>Además de abonar <span id="valor_expreso_tooltip"></span> al flete que realiza el envío a la terminal, debe abonarle al Expreso al recibir su pedido. El costo varía según la empresa de transporte elegida.</p>
                        </div>

                        <p class="texto-campos-obligatorios">Los campos marcados con asterisco (*) son obligatorios.</p>
                        <div class="datos-envio">
                            <div class="combo-select">
                                <div class="label-con-tooltip">
                                <label for="empresa-transporte">Empresa de transporte</label>
                                <!-- El usuario puede hacer hover o tocar el ícono para que se abra el tooltip. En caso que lo toque hay que agregar la lógica de programación para que el tooltip se cierre cuando el usuario lo vuelve a tocar o cuando toca por fuera de él -->
                                <button type="button" aria-label="Información sobre la empresa de transporte">
                                    <span>
                                    Si  no la sabés, dejá el campo vacío. La podés indicar luego cuando nos contactemos con vos.
                                    </span>
                                </button>
                                </div>
                                <input type="text" id="empresa-transporte" placeholder="Ingresá la empresa de transporte" autofocus="autofocus" />
                            </div>
                            <div class="combo-select">
                                <div class="label-con-tooltip">
                                <label for="expreso-direccion">Dirección*</label>
                                <!-- El usuario puede hacer hover o tocar el ícono para que se abra el tooltip. En caso que lo toque hay que agregar la lógica de programación para que el tooltip se cierre cuando el usuario lo vuelve a tocar o cuando toca por fuera de él -->
                                <button type="button" aria-label="Información sobre la dirección adonde llega el expreso">
                                    <span>
                                    Si  querés retirar el pedido en el depósito, escribí “Retiro en depósito”.
                                    </span>
                                </button>
                                </div>
                                <!-- Le agregué la clase "input-error" a ese input. Por defecto no debe aparecer, es una clase que se suma cuando queda vacío -->
                                <input itemid="expreso-direccionError" type="text" id="expreso-direccion" placeholder="Ingresá la calle"  />
                                <!-- Se debe ocultar este texto con display: none; para que no se vea cuando está todo ok -->
                                <p id="expreso-direccionError" class="texto-error"style="display: none;">Este campo no puede quedar vacío.</p>
                            </div>
                            <div class="combo-select">
                                <label for="expreso-altura">Altura*</label>
                                <!-- Le agregué la clase "input-error" a ese input. Por defecto no debe aparecer, es una clase que se suma cuando queda vacío -->
                                <input type="text" id="expreso-altura" placeholder="Ingresá la altura"  />
                                <!-- Se debe ocultar este texto con display: none; para que no se vea cuando está todo ok -->
                                <p id="expreso-alturaError" class="texto-error" style="display: none;">Este campo no puede quedar vacío.</p>
                            </div>
                            <div class="combo-select">
                                <label for="expreso-piso-dpto">Piso / Dpto</label>
                                <!-- Le agregué la clase "input-error" a ese input. Por defecto no debe aparecer, es una clase que se suma cuando queda vacío -->
                                <input type="text" id="expreso-piso-dpto" placeholder="Ingresá el piso y el dpto"  />
                                <!-- Se debe ocultar este texto con display: none; para que no se vea cuando está todo ok -->
                                <p class="texto-error" style="display: none;">Este campo no puede quedar vacío.</p>
                            </div>
                            <div class="combo-select">
                                <label for="expreso-dni">DNI*</label>
                                <!-- Le agregué la clase "input-error" a ese input. Por defecto no debe aparecer, es una clase que se suma cuando queda vacío -->
                                <input type="text" id="expreso-dni" placeholder="Ingresá el documento"  />
                                <!-- Se debe ocultar este texto con display: none; para que no se vea cuando está todo ok -->
                                <p id="expreso-dniError" class="texto-error" style="display: none;">Este campo no puede quedar vacío.</p>
                            </div>
                        </div>
                </div>
				<!-- FIN Expreso -->
				<div id="envio-caba" style="display: none;">
					<div>
					<hr class="linea-separadora">
					<p class="texto-envio-caba">El envío dentro CABA se realiza por moto y tiene un  valor de <span id="valor_moto" style="font-weight: 600;"></span> superando los $100.000 en tu compra el envío es gratis!!.</p>
					
					<p class="texto-campos-obligatorios">Los campos marcados con asterisco (*) son obligatorios.</p>
					<div class="datos-envio">
						<div class="combo-select">
							<label for="caba-direccion">Dirección*</label>
							<!-- Le agregué la clase "input-error" a ese input. Por defecto no debe aparecer, es una clase que se suma cuando queda vacío -->
							<input type="text" id="caba-direccion" placeholder="Ingresá la calle" autofocus="autofocus"  />
							<!-- Se debe ocultar este texto con display: none; para que no se vea cuando está todo ok -->
							<p id="caba-direccionError" class="texto-error" style="display: none;">Este campo no puede quedar vacío.</p>
						</div>
						<div class="combo-select">
							<label for="caba-altura">Altura*</label>
							<!-- Le agregué la clase "input-error" a ese input. Por defecto no debe aparecer, es una clase que se suma cuando queda vacío -->
							<input type="text" id="caba-altura" placeholder="Ingresá la altura"  />
							<!-- Se debe ocultar este texto con display: none; para que no se vea cuando está todo ok -->
							<p id="caba-alturaError" class="texto-error" style="display: none;">Este campo no puede quedar vacío.</p>
						</div>
						<div class="combo-select">
							<label for="caba-piso-dpto">Piso / Dpto</label>
							<!-- Le agregué la clase "input-error" a ese input. Por defecto no debe aparecer, es una clase que se suma cuando queda vacío -->
							<input type="text" id="caba-piso-dpto" placeholder="Ingresá el piso y el dpto"  />
							<!-- Se debe ocultar este texto con display: none; para que no se vea cuando está todo ok -->
							
						</div>
						<div class="combo-select">
							<div class="label-con-tooltip">
							  <label for="caba-franja-horaria">Franja horaria</label>
							  <!-- El usuario puede hacer hover o tocar el ícono para que se abra el tooltip. En caso que lo toque hay que agregar la lógica de programación para que el tooltip se cierre cuando el usuario lo vuelve a tocar o cuando toca por fuera de él -->
							  <button type="button" aria-label="Información sobre franja horaria">
							    <span>
							      Podés indicarnos la franja en la que querés recibir el pedido.<br />
							      Si no la sabés, dejá el campo vacío.
							    </span>
							  </button>
							</div>
							<input type="text" id="caba-franja-horaria" placeholder="Ingresá la franja horaria" />
						</div>
					</div>
				 </div>
					
					

	
				</div>
		</div>

		<div class="card-checkout">
				<h2>Contacto</h2>
				<p class="texto-card-checkout">¿Cómo preferís que nos contactemos con vos?</p>
				<!-- Se debe ocultar esta alerta con display: none; para que no se vea cuando está todo ok -->
				<div id="errorContacto" class="alerta-error" style="display: none;">
					<img src="checkout_nuevo/img/cruz-error.svg" alt="Error" />
					<p>Por favor, elegí una de las opciones.</p>
				</div>
				<div class="checkout-radiobuttons">
					<input type="radio" id="whatsapp" name="contacto" value="Whatsapp">
					<label for="whatsapp">Whatsapp</label>
				</div>
				<div id="whatsappInput" class="checkout-input" style="display: none;">
					<!-- Le agregué la clase "input-error" a ese input. Por defecto no debe aparecer, es una clase que se suma cuando queda vacío -->
					<input id="whatsapp-numero" type="text" placeholder="Ingresá el nº de Whatsapp" autofocus="autofocus" />
					<!-- Se debe ocultar este texto con display: none; para que no se vea cuando está todo ok -->
					<p class="texto-error" id="whatsappError" style="display: none;">Por favor ingresa el número de contacto para continuar</p>
				</div>
				<div class="checkout-radiobuttons">
					<input type="radio" id="email" name="contacto" value="Email" >
					<label for="email">Email</label>
				</div>
				<div id="emailInput" class="checkout-input" style="display: none;">
					<!-- Le agregué la clase "input-error" a ese input. Por defecto no debe aparecer, es una clase que se suma cuando queda vacío -->
					<input id="mail-numero" type="text" placeholder="Ingresá el email" autofocus="autofocus"  />
					<!-- Se debe ocultar este texto con display: none; para que no se vea cuando está todo ok -->
					<p class="texto-error" id="mailError" style="display: none;">Por favor ingresa el mail de contacto para continuar</p>
				</div>
				<div class="checkout-radiobuttons">
					<input type="radio" id="tel-fijo" name="contacto" value="Teléfono fijo">
					<label for="tel-fijo">Teléfono fijo</label>
				</div>
				<div id="tel-fijoInput" class="checkout-input" style="display: none;">
					<!-- Le agregué la clase "input-error" a ese input. Por defecto no debe aparecer, es una clase que se suma cuando queda vacío -->
					<input id="tel-numero" type="text" placeholder="Ingresá el teléfono fijo" autofocus="autofocus"   />
					<!-- Se debe ocultar este texto con display: none; para que no se vea cuando está todo ok -->					
					<p class="texto-error" id="telError" style="display: none;">Por favor ingresa el número de contacto para continuar</p>
				</div>
			</div>

			<div class="card-checkout">
				<h2>Facturación</h2>
				<!-- Se debe ocultar esta alerta con display: none; para que no se vea cuando está todo ok -->
				<div id="facturacionError" class="alerta-error" style="display: none;">
					<img src="checkout_nuevo/img/cruz-error.svg" alt="Error" />
					<p>Por favor, elegí una de las opciones.</p>
				</div>
				<div class="checkout-radiobuttons">
					<input type="radio" id="consumidor-final" name="facturacion" value="Consumidorfinal">
					<label for="consumidor-final">Consumidor final</label>
				</div>
				
					<div  class="checkout-radiobuttons">
						<input type="radio" id="monotributista" name="facturacion" value="Monotributista">
						<label for="monotributista">Monotributista</label>						
					</div>
					<div id="monotributistaInput" style="display: none;">
					<div class="datos-facturacion">
						<p class="texto-campos-obligatorios">Los campos marcados con asterisco (*) son obligatorios.</p>
						<div>
							<label for="razon-social">Razón social*</label>
							<!-- Le agregué la clase "input-error" a ese input. Por defecto no debe aparecer, es una clase que se suma cuando queda vacío -->
							<input type="text" id="razon-social-monotributo" placeholder="Ingresá la razón social" autofocus="autofocus"  />
							<!-- Se debe ocultar este texto con display: none; para que no se vea cuando está todo ok -->
							<p class="texto-error" id="monoRSerror" style="display: none;">Por favor ingresa la razón social para continuar</p>
						</div>
						<div>
							<label for="usuario-cuit">CUIT*</label>
							<!-- Le agregué la clase "input-error" a ese input. Por defecto no debe aparecer, es una clase que se suma cuando queda vacío -->
							<input type="text" id="usuario-cuit-monotributo" placeholder="Ingresá el CUIT"  />
							<!-- Se debe ocultar este texto con display: none; para que no se vea cuando está todo ok -->
							<p class="texto-error" id="monoCUITerror" style="display: none;">Por favor ingresa el N° de CUIT para continuar</p>
						</div>
					</div>
				</div>
				
				<div class="checkout-radiobuttons">
					<input type="radio" id="iva-inscripto" name="facturacion" value="IVA inscripto">
					<label for="iva-inscripto">IVA inscripto</label>
				</div>
				<div id="iva-inscriptoInput" style="display: none;">
				<div class="datos-facturacion">
					<p class="texto-campos-obligatorios">Los campos marcados con asterisco (*) son obligatorios.</p>
					<div>
						<label for="razon-social">Razón social*</label>
						<!-- Le agregué la clase "input-error" a ese input. Por defecto no debe aparecer, es una clase que se suma cuando queda vacío -->
						<input type="text" id="razon-social-iva-inscripto" placeholder="Ingresá la razón social" autofocus="autofocus"  />
						<!-- Se debe ocultar este texto con display: none; para que no se vea cuando está todo ok -->
						<p class="texto-error" id="ivaInscriptoRSerror" style="display: none;">Por favor ingresa la razón social para continuar</p>
					</div>
					<div>
						<label for="usuario-cuit">CUIT*</label>
						<!-- Le agregué la clase "input-error" a ese input. Por defecto no debe aparecer, es una clase que se suma cuando queda vacío -->
						<input type="text" id="usuario-cuit-iva-inscripto" placeholder="Ingresá el CUIT"  />
						<!-- Se debe ocultar este texto con display: none; para que no se vea cuando está todo ok -->
						<p class="texto-error" id="ivaInscriptoCUITerror" style="display: none;">Por favor ingresa el N° de CUIT para continuar</p>
					</div>
				</div>
				</div>
				<div class="checkout-radiobuttons">
					<input type="radio" id="exento" name="facturacion" value="Exento">
					<label for="exento">Exento</label>
				</div>
				<div id="exentoInput" style="display: none;">
				<div class="datos-facturacion">
					<p class="texto-campos-obligatorios">Los campos marcados con asterisco (*) son obligatorios.</p>
					<div>
						<label for="razon-social">Razón social*</label>
						<!-- Le agregué la clase "input-error" a ese input. Por defecto no debe aparecer, es una clase que se suma cuando queda vacío -->
						<input type="text" id="razon-social-exento" placeholder="Ingresá la razón social" autofocus="autofocus"  />
						<!-- Se debe ocultar este texto con display: none; para que no se vea cuando está todo ok -->
						<p class="texto-error" id="exentoRSerror" style="display: none;">Por favor ingresa la razón social para continuar</p>
					</div>
					<div>
						<label for="usuario-cuit">CUIT*</label>
						<!-- Le agregué la clase "input-error" a ese input. Por defecto no debe aparecer, es una clase que se suma cuando queda vacío -->
						<input type="text" id="usuario-cuit-exento" placeholder="Ingresá el CUIT"  />
						<!-- Se debe ocultar este texto con display: none; para que no se vea cuando está todo ok -->
						<p class="texto-error" id="exentoCUITerror" style="display: none;">Por favor ingresa el N° de CUIT para continuar</p>
					</div>

			
			</div>
			</div>
			</div>

			<div class="card-checkout">
				<h2>Forma de pago</h2>
				<!-- Se debe ocultar esta alerta con display: none; para que no se vea cuando está todo ok -->
				<div id="formaPagoError" class="alerta-error" style="display: none;">
					<img src="checkout_nuevo/img/cruz-error.svg" alt="Error" />
					<p>Por favor, elegí una de las opciones.</p>
				</div>
				<div id="efectivoDIV" class="checkout-radiobuttons">
					<!-- Efectivo solo aparece si el usuario selecciona "Retiro en el local" -->
					<input type="radio" id="efectivo" name="forma_de_pago" value="Efectivo">
					<label for="efectivo">Efectivo</label>
				</div>
				<div class="checkout-radiobuttons">
					<input type="radio" id="mercadopago" name="forma_de_pago" value="Mercado Pago">
					<label for="mercadopago">Mercado Pago</label>
				</div>
				<div class="checkout-radiobuttons">
					<input type="radio" id="transferencia" name="forma_de_pago" value="Transferencia bancaria">
					<label for="transferencia">Transferencia bancaria</label>
				</div>
				<div class="transferencia-bancaria" style="display: none;">
					<div class="alerta-informativa">
						<img src="checkout_nuevo/img/icono-informativo.svg" alt="Error" />
						<p>Por favor, una vez realizada la transferencia avísenos así podemos confirmar la acreditación.</p>
					</div>
					<p>Puede realizar la operación a cualquiera de las siguientes cuentas:</p>
					<p style="margin-top: 16rem;"><span>ICBC</span></br>
					CBU: 0150505402000102323287</br>
					ALIAS: CASARAQUEL
					</p>
					<p style="margin-top: 16rem;"><span>MERCADOPAGO</span></br>
					CVU: 0000003100034337461618</br>
					ALIAS: CASARAQUELSA
					</p>
				</div>
			</div>

			<div class="card-checkout">
				<div class="text-center">
				<h2>Podes dejarnos un mensaje de tu pedido, nosotros te responderemos al dato de contacto que nos dejes disponible</h2>
				<textarea name="" id="pedidoObservaciones" cols="90" rows="12" style="width: 100%"></textarea>
				</div>
			</div>
			<input type="text" name="carrito_holder" style="display: none;" id="carrito-holder">
			<input class="precio" type="hidden" name="precio">
            <input class="titulo" type="hidden" name="titulo">
	
		</form>
			<button id="finalizarVenta" type="button" class="btn-primario">Finalizar pedido</button>
			
    </main>

	<section>
			<div class="resumen-compra-contenedor">
				<h2>Resumen de compra</h2>

					
				<div class="carrito-cuerpo">		    	
					<% let total = 0; %>
					<% carrito.forEach(e => { %>
						<div class="carrito-item">
						<div class="contenedor-img-carrito" style='background-image: url("<%= e.imagen %>");'>
							
						</div>
						<div class="carrito-item-info">
							<h3><%= e.titulo %></h3>
							<p>Precio: $<%= e.precio %></p>
							<p>Cantidad: <%= e.cantidad %></p>
						</div>
						</div>                   
						<% total += e.cantidad * e.precio %>           
					<% }); %>   	
					<div id="datos-compra" data-datos="<%= JSON.stringify(carrito) %>"></div>
			    </div>

			    <div class="carrito-footer">
			    	<div class="total-carrito">
			    		<p>Total de la compra</p>
			    		<p id="total_de_compra">$ <%= total.toFixed(2) %></p>
			    	</div>
			    </div>

			</div>

			<a class="seguir-comprando" href="https://raqueldigital.com/">
				<img src="checkout_nuevo/img/chevron-default.svg" alt="Volver" />
				<p>Seguir comprando</p>
			</a>

		</section>
  </div>
   <script src="js/checkOutUtils.js"></script>
  <script src="js/checkOutError.js"></script>
  <script src="js/checkOutCorrection.js"></script>
  <script src="js/checkOutSelects.js"></script>
  <script src="js/checkoutNew.js"></script>
</body>